# Dependency directories
node_modules/
jspm_packages/

# TypeScript
dist/
out/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
/prisma/migrations/
# Uncomment the line below if you want to ignore the SQLite database
# *.db

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.project
.settings/
